<div class="c-card">
    <div class="c-header"><img
            src="https://static.displate.com/brand/layout/a55659ea-fae1-4016-9783-da83203ac763/avatarStandard.jpg"
            class="header-img">
        <div class="header-title">
            <h3 class="header-h3"><a href="/falloutgame/nuka-cola"> Nuka Cola </a></h3>
            <p class="header-p"><a href="/licensed/falloutgame">Fallout</a></p>
        </div>
    </div>
    <div class="img-wrapper">
        <img
            src="https://static.displate.com/280x392/displate/2021-03-16/ae3cb28603902b2fbf97b1cdf31800f3_f678801bc14bf9b1e55ac73f857e5224.jpg">
        <img
            src="https://static.displate.com/280x392/displate/2024-02-20/4547ce030ebfee44ddefa3e8c04fede1_8cc1ace821df2e1914af1e375cfcb5cc.jpg">
        <img
            src="https://static.displate.com/280x392/displate/2021-03-16/a87474ed3b5b1574d42bbbbe400aa343_9370c1555473c4cdea524c5bacf6b676.jpg">
        <img
            src="https://static.displate.com/280x392/displate/2021-03-16/9fb94c49de0c3c651da0e61bd42a5001_0849adb32c4744684dee0f4c0d4b1b45.jpg">
    </div>
</div>