<div class="px-4 d-flex flex-row-reverse">
    <button mat-raised-button
        color="primary"
        routerLink="/designs/create">
        Create New
    </button>

</div>
<div class="card-container">
    <mat-card class="card"
        *ngFor="let design of designs">
        <img [src]="design.url"
            alt="Design design"
            style="width: 200px; height: 300px;">
        <div class="card-body">
            <h5 class="card-title">{{ design.title }}</h5>
            <p class="card-text">{{ design.description }}</p>
        </div>
    </mat-card>
</div>