<div class="container d-flex justify-content-center py-5">
    <div class="row py-5">
        <div class="col-md-6 col-12">
            <img class="letter-img"
                src="https://assets-static-prod.displate.com/next-assets/public/images/newsletter/newsletter.jpg">
        </div>
        <div class="col-md-6 col-12">
            <div class="new-h8s">
                <div>
                    <div class="header-nns">
                        <div class="header-hve">Sign up and never miss a deal</div>
                        <p class="header-bsj">Join our newsletter for the latest discounts and Displate goodies
                        </p>
                    </div>
                    <div class="form-8od">
                        <div class="new-iih">
                            <div class="container-qkm">
                                <div class="text-2iz"><input class="input-oko"
                                        id="ema-pql"
                                        name="email"
                                        type="text"
                                        placeholder="Enter your e-mail"
                                        value=""></div>
                                <div class="text-l1i">
                                    <p class="Inp-4o7"></p>
                                </div>
                            </div><button class="new-lbc button-kwa">Sign up</button>
                        </div>
                    </div>
                    <div class="new-hb5">
                        <p>By clicking „Sign up”, you agree to receive the newsletter by e-mail from Displate.
                            The data
                            controller of your personal data is Displate, i.e. GWD Concept Sp. z o. o. Your
                            personal data is
                            processed for a purpose of sending newsletter. The consent may be withdrawn at any
                            time without
                            affecting the legality of the processing performed before its withdrawal. For more
                            information
                            about the processing of your personal data, including your rights or the newsletter
                            please see
                            <a class="link-5g4 link-bv3"
                                href="/about-privacy">Privacy policy</a> or <a class="link-5g4 link-bv3"
                                href="/about-regulations">Terms of Use</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>