<section class="hiD-8jv">
    <footer class="bDJ-653">
        <div class="cYb-prm">
            <div class="hKR-oni">
                <ul class="gvZ-zsn">
                    <li class="krM-mo7">
                        Support
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-contact#contact-chatbot">
                            Check order status
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-shipping">
                            Shipping &amp; Returns
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-faq">
                            Help/FAQ
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-regulations">
                            Terms of use
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-mounting">
                            Mounting instructions
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-contact">
                            Contact us
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-copyright">
                            Copyrights
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-privacy">
                            Privacy policy
                        </a>
                    </li>
                </ul>
                <ul class="gvZ-zsn">
                    <li class="krM-mo7">
                        About
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/whats-a-displate">
                            What's a Displate?
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/join-displate-club">
                            Displate Club
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/about-us">
                            About us
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="https://blog.displate.com/">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/career">
                            Career
                        </a>
                    </li>
                </ul>
                <ul class="gvZ-zsn">
                    <li class="krM-mo7">
                        Earn with Displate
                    </li>
                    <li>
                        <a class="jFO-xjw kru-qdk"
                            href="/open-shop">
                            Sell your art
                        </a>
                    </li>
                </ul>
                <div class="ddu-dzw">
                    <div class="cYb-prm eSi-cpe">
                        <p class="krM-mo7 jdI-vie">
                            Find us
                        </p>
                        <div class="dDt-biz">
                            <a href="https://www.facebook.com/displate"
                                class="hrw-2gk">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 100 100"
                                    class="snipcss0-8-43-44">
                                    <g>
                                        <g>
                                            <rect id="Rectangle_806"
                                                data-name="Rectangle 806"
                                                width="100"
                                                height="100"
                                                transform="translate(0 0)"
                                                fill="#fff"
                                                opacity="0">
                                            </rect>
                                            <g>
                                                <path id="Path_23"
                                                    data-name="Path 23"
                                                    d="M530.661,2579.356h5.521V2606.2"
                                                    transform="translate(-12.571 -19.34)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2">
                                                </path>
                                                <path id="Path_24"
                                                    data-name="Path 24"
                                                    d="M529.64,2557.136h6.209v-8.054s.388-9.785,10.871-9.785h9.4v9.785h-4.9s-3.065.332-3.065,2.416v5.389h8.581l-1.471,9.413h-7.355v26.842h-7.478"
                                                    transform="translate(-12.238 -6.284)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2">
                                                </path>
                                                <path id="Path_25"
                                                    data-name="Path 25"
                                                    d="M532.09,2600.016a39.958,39.958,0,1,1,10.717-1.452"
                                                    transform="translate(0)"
                                                    fill="none"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <a href="https://www.instagram.com/displate"
                                class="hrw-2gk">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 41.2 41.2"
                                    class="snipcss0-8-48-49">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M932.789,3620.04a19.978,19.978,0,1,1,5.358-.726"
                                                    transform="translate(-912.789 -3580.04)"
                                                    fill="none"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.2">
                                                </path>
                                                <rect width="21.527"
                                                    height="20.754"
                                                    rx="4"
                                                    transform="translate(9.518 9.623)"
                                                    stroke-width="1.2"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    fill="none">
                                                </rect>
                                                <circle cx="4.619"
                                                    cy="4.619"
                                                    r="4.619"
                                                    transform="translate(15.663 16.047)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.2">
                                                </circle>
                                                <circle cx="1.406"
                                                    cy="1.406"
                                                    r="1.406"
                                                    transform="translate(25.02 13.416)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.2">
                                                </circle>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <a href="https://twitter.com/displate"
                                class="hrw-2gk">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 41.201 41.211"
                                    class="snipcss0-8-53-54">
                                    <g>
                                        <g>
                                            <path
                                                d="M-2026.872,281.655a20,20,0,0,1-19.648-20.348,20,20,0,0,1,20.346-19.649,20,20,0,0,1,19.648,20.347,20.01,20.01,0,0,1-14.976,19.017"
                                                transform="translate(2046.523 -241.655)"
                                                fill="none"
                                                stroke="#000"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1.2">
                                            </path>
                                            <path
                                                d="M-2005.286,292.721a14.055,14.055,0,0,0,6.471-11.737q0-.314-.014-.624a9.8,9.8,0,0,0,2.405-2.5,9.622,9.622,0,0,1-2.769.759,4.839,4.839,0,0,0,2.12-2.667,9.665,9.665,0,0,1-3.061,1.17,4.816,4.816,0,0,0-3.52-1.524,4.823,4.823,0,0,0-4.822,4.821,4.826,4.826,0,0,0,.125,1.1,13.687,13.687,0,0,1-9.937-5.038,4.8,4.8,0,0,0-.654,2.423,4.818,4.818,0,0,0,2.146,4.013,4.786,4.786,0,0,1-2.184-.6c0,.02,0,.04,0,.061a4.823,4.823,0,0,0,3.868,4.727,4.832,4.832,0,0,1-1.271.17,4.833,4.833,0,0,1-.906-.087,4.826,4.826,0,0,0,4.5,3.349,9.675,9.675,0,0,1-5.988,2.064,9.8,9.8,0,0,1-1.15-.067"
                                                transform="translate(2028.889 -264.159)"
                                                fill="none"
                                                stroke="#0084f5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1.2">
                                            </path>
                                            <path d="M-1998,328.371a13.573,13.573,0,0,0,7.247-1.982"
                                                transform="translate(2014.352 -297.828)"
                                                fill="none"
                                                stroke="#0084f5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1.2">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <a href="https://pinterest.com/displate"
                                class="hrw-2gk">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 41.2 41.2"
                                    class="snipcss0-8-57-58">
                                    <g>
                                        <g>
                                            <path
                                                d="M51.878,63.844c.268-3.43,1.391-6.376,2-9.454-1.412-2.438.17-7.343,3.147-6.134,3.663,1.486-3.173,9.061,1.416,10.007,4.791.988,6.747-8.527,3.777-11.621-4.293-4.467-12.5-.1-11.487,6.295a9.639,9.639,0,0,0,.947,2.1,1.972,1.972,0,0,1,.029,1.289,3.947,3.947,0,0,1-.347.809c-2.748-.624-3.568-2.847-3.462-5.81a9.369,9.369,0,0,1,8.339-8.716c5.173-.594,10.029,1.948,10.7,6.94.755,5.635-2.335,11.737-7.867,11.3-1.5-.12-2.129-.881-3.3-1.614-.646,3.479-1.436,6.813-3.777,8.554"
                                                transform="translate(-37.026 -33.602)"
                                                fill="none"
                                                stroke="#0084f5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1.2">
                                            </path>
                                            <path d="M35.66,56.377a19.977,19.977,0,1,1,5.358-.726"
                                                transform="translate(-15.66 -16.377)"
                                                fill="none"
                                                stroke="#231f20"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1.2">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <a href="https://www.linkedin.com/company/displate.com"
                                class="hrw-2gk">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="30"
                                    height="30"
                                    viewBox="0 0 100 100"
                                    class="snipcss0-8-61-62">
                                    <g>
                                        <rect width="100"
                                            height="100"
                                            transform="translate(167 3583)"
                                            fill="#fff"
                                            opacity="0">
                                        </rect>
                                        <g>
                                            <path d="M55.358,97.63a39.954,39.954,0,1,1,10.717-1.451"
                                                fill="none"
                                                stroke="#000"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1.984">
                                            </path>
                                            <g>
                                                <path
                                                    d="M79.139,66.3A10.19,10.19,0,0,1,84.3,65.043c6.373,0,11.152,4.164,11.152,13.112v16.7H85.77V79.274c0-3.915-1.4-6.587-4.906-6.587A5.3,5.3,0,0,0,75.9,76.229a6.628,6.628,0,0,0-.322,2.361V94.859H65.887s.131-26.4,0-29.132h9.687v2.881"
                                                    transform="translate(-50.272 -51.685)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.984">
                                                </path>
                                                <path d="M80.827,72.989"
                                                    transform="translate(-55.141 -54.274)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.984">
                                                </path>
                                                <path
                                                    d="M48.075,55.294h.065c3.378,0,5.48-2.239,5.48-5.036A5.032,5.032,0,0,0,48.2,45.226c-3.314,0-5.482,2.173-5.482,5.032a5.153,5.153,0,0,0,.38,1.966"
                                                    transform="translate(-42.722 -45.226)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.984">
                                                </path>
                                                <path d="M43.576,66.058V95.19h9.684V66.058"
                                                    transform="translate(-43 -52.016)"
                                                    fill="none"
                                                    stroke="#0084f5"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1.984">
                                                </path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ddu-dzw eQa-7qi">
                    <p class="krM-mo7 jdI-vie">
                        Partners
                    </p>
                    <div class="jyL-moo">
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/cyberpunk-2077">
                            <span class="style-TfMR7"
                                id="style-TfMR7">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_cyberpunk-2077.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/star-wars">
                            <span class="style-vDWsF"
                                id="style-vDWsF">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_star-wars.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/marvel">
                            <span class="style-TYe1a"
                                id="style-TYe1a">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_marvel.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/dc-comics">
                            <span class="style-Mjgt2"
                                id="style-Mjgt2">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_dc-comics.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/destiny">
                            <span class="style-laUvj"
                                id="style-laUvj">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_destiny.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/stranger-things-series">
                            <span class="style-hQolR"
                                id="style-hQolR">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_stranger-things.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/elden-ring">
                            <span class="style-AqVck"
                                id="style-AqVck">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_elden-ring.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/wizarding-world">
                            <span class="style-oXvyo"
                                id="style-oXvyo">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_wizarding-world.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/call-of-duty">
                            <span class="style-dg7QK"
                                id="style-dg7QK">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_call-of-duty.png">
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/league-of-legends">
                            <span class="style-Z4S9p"
                                id="style-Z4S9p">
                                <img class="kTH-pno"
                                    src="https://assets-static-prod.displate.com/next-assets/public/images/footer/partners/logo_league-of-legends.png">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="jjD-9eo">
            <div class="hKR-oni">
                <div class="ddu-dzw eQa-7qi">
                    <p class="krM-mo7 jdI-vie">
                        Partners
                    </p>
                    <div class="jyL-moo">
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/cyberpunk-2077">
                            <span class="style-z3ML9"
                                id="style-z3ML9">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/star-wars">
                            <span class="style-obBJc"
                                id="style-obBJc">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/marvel">
                            <span class="style-sBwDw"
                                id="style-sBwDw">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/dc-comics">
                            <span class="style-xaQU9"
                                id="style-xaQU9">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/destiny">
                            <span class="style-6E9XJ"
                                id="style-6E9XJ">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/stranger-things-series">
                            <span class="style-YoOHr"
                                id="style-YoOHr">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/elden-ring">
                            <span class="style-Wolgq"
                                id="style-Wolgq">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/wizarding-world">
                            <span class="style-vjSJz"
                                id="style-vjSJz">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/call-of-duty">
                            <span class="style-aXcIY"
                                id="style-aXcIY">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                        <a class="jFO-xjw bWG-xhj"
                            href="/licensed/league-of-legends">
                            <span class="style-VQRbl"
                                id="style-VQRbl">
                                <span class="kTH-pno"
                                    style="display:inline-block">
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hKR-oni lgx-41k">
            <div class="ddu-dzw eQa-7qi">
                <div>
                    <p class="krM-mo7 jdI-vie">
                        Secure payments
                    </p>
                    <span class="style-ldLp5"
                        id="style-ldLp5">
                        <img class="jCt-n4j"
                            src="https://assets-static-prod.displate.com/next-assets/public/images/footer/footer_payment_processors.svg">
                    </span>
                </div>
            </div>
        </div>
        <div class="czk-aqz">
            <p class="iEz-5bw">
                © Displate. All Rights Reserved.
            </p>
        </div>
    </footer>
</section>