<div class="slide-ly2">
    <ul class="grid-ygk">
        <li class="cat-oky"><a href="sr-artworks/gaming"><span class="label-41w">Gaming</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/gaming.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="posters/movies"><span class="label-41w">Movies</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/movies.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="sr-artworks/manga?category=Anime%20%26%20Manga"><span class="label-41w">Manga &amp;
                    Anime</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/manga_anime.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="sr-artworks/fantasy"><span class="label-41w">Fantasy</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/fantasy.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="posters/tv-shows"><span class="label-41w">TV Shows</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/tv_shows.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="posters/sports"><span class="label-41w">Sport</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/sport.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="posters/music"><span class="label-41w">Music</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/music.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="posters/nature"><span class="label-41w">Nature</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/nature.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="sr-artworks/travel"><span class="label-41w">Travel</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/travel.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="sr-artworks/cars"><span class="label-41w">Cars</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/cars.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="sr-artworks/animals-nature?category=Animals"><span class="label-41w">Animals</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/animals.jpg">
                </picture>
            </a></li>
        <li class="cat-oky"><a href="posters/space"><span class="label-41w">Space</span>
                <picture><img class="image-a6n"
                        src="https://assets-static-prod.displate.com/next-assets/public/images/homepage/categories/space.jpg">
                </picture>
            </a></li>
    </ul>
</div>